body {
	font-family: Ubuntu;
	font-size: 18px;
	background-color: whitesmoke;
	}
.divPageBody {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	margin-bottom: 500px;
	}

.tableContainer th, .tableContainer td {
	text-align: left;
	}
.tableContainer th {
	cursor: pointer;
	font-weight: inherit;
	}
.tableContainer a {
	color: inherit;
	}
.tableContainer .tdFeedTitle {
	white-space: nowrap;
	}
.tableContainer .divPagetopStuff {
	margin-bottom: 35px;
	}
.tableContainer .divPagetopStuff h3 {
	letter-spacing: -1px;
	}
.tableContainer .divPagetopStuff p {
	}

.tableContainer .divInputAndButton {
	}
.tableContainer .inputForUrl {
	width: 85%;
	font-size: 18px; 
	padding: 3px; 
	height: 28px; 
	margin-bottom: 0;
	margin-right: 5px;
	}
.tableContainer .btn {
	flex: 1;
	}

.tableContainer .feedlistTable {
	}
.tableContainer .feedlistTable th {
	padding-bottom: 7px;
	}
.tableContainer .feedlistTable td {
	padding-top: 7px;
	padding-bottom: 7px;
	border-top: 1px dotted silver;
	}

/* styles for tablet */
	@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
		.divPageBody {
			width: 85%;
			}
		}
